.ourtown_blue{
    color: #00ABDF;
}

.donate_btn{
    background-color: #00ABDF;
}

.submit_btn{
    background-color: transparent;
}

.divider_title{
    font-size: 48px;
    width: 300px;
    position: absolute;
    font-weight: 900;
    background-color: white;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-top: -30px;
    margin-left: 47px;
}

.yellow_divider{
    max-width: 1392px;
    margin: 100px 0px;
    width: 100%;
    border-bottom: 3px solid #FFDE40;
    position: relative;
}

@media screen and (max-width: 1200px){
    .divider_title {
    font-size: 30px;
    width: 180px;
    margin-top: -20px !important;
    margin-left: 30px !important;
    }
}