/* general styles */
.ourtown_blue{
    color: #00ABDF;
    color: white;
}

a {
    text-decoration: none;
}

/* Commenting these out due to global issues  */

/* a:visited{
    color: darkgray;
}
a:hover{
    color: white;
}
a:link{
    color: white;
} */

/* navbar styles */
.donate_btn{
    background-color: #00ABDF;
}

.my_nav{
    background-color: black;
}

.top_banner{
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.submit_btn{
    background-color: transparent;
}


/* homepage styles */

.divider_title{
    font-size: 48px;
    width: 300px;
    position: absolute;
    font-weight: bold;
    background-color: white;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-top: -30px;
    margin-left: 47px;
}

.divider_title_previous a{
    color: #00ABDF;
    font-weight: bold;
    background-color: white;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
}

.yellow_divider{
    max-width: 1392px;
    margin: 100px 0px;
    width: 100%;
    border-bottom: 3px solid #FFDE40;
    position: relative;
}


/* latest page styles */

.all_reports{
    font-weight: bold;
    font-family: "Lato", sans-serif;
    
}

.page-numbers {
   
}

/* ABout Us Page */

.main {
    max-width: 1400px;
    margin: auto;
    margin-top: 60px;
    display: block;
    
}

.bruhp {
    margin-bottom: 1.5em;
    font-family: "PT Serif", serif;
    font-size: 20px;
    line-height: 175%;
    margin-top: 0;
}


.page-title {
    font-family: "Lato", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
}

#bruh {
    margin-left: 80px;
}
.dash {
    padding-left: 250px;
}

.dash2 {
    padding-left: 170px;
}

.dash:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .column {
    float: left;
    width: 50%;
    padding: 10px;
  }

  .hh2 {
    clear: both;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-size: 2rem;
    line-height: 1.2;
}
  .wp-block-button__link {
      margin-left: 140px;
      margin-top: 30px;
      display: flex;
      justify-content: baseline;
      
  }

  .name-hr {
    height: 3.83125px;
    margin-top: 1rem;
    margin-bottom: 20px;
    margin-left: 0;
    width: 3rem;
}

.dash3 {
    padding-left: 200px;
}



/* footer styles */

.connected_title{
    font-weight: bold;
    color: white;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    display: inline-block;
}

.footer_banner{
    background-color: #EF413D;
}
 .footer_banner_p{
     display: inline-block;
     font-size:20px; 
 }

 .signup-btn{
     color: white;
     font-family: "Lato", sans-serif;
     text-transform: uppercase;
     display: inline-block;
     border-color: white;
 }

 .email_form{
     display: inline-block;
 }
 .footer_end_banner{
     background-color: black;
 }


 .footer_margin{
     margin-left: 140px;
 }

@media screen and (max-width: 1200px){
    .divider_title {
    font-size: 30px;
    width: 180px;
    margin-top: -20px !important;
    margin-left: 30px !important;
    }
}

@media screen and (min-width: 768px) {
    .single-post-col-left {
      max-width: 850px !important;
      margin-right: 10px;
    }
    .single-post-col-right {
      max-width: 420px !important;
      margin-left: 10px;
    }
  }
  @media screen and (min-width: 768px) {
    .single-post-col-left {
      max-width: 850px !important;
      margin-right: 10px;
    }
    .single-post-col-right {
      max-width: 420px !important;
      margin-left: 10px;
    }
  }

  /* Stephen Single Page  */

  .site-main {
    max-width: 1400px;
    margin: auto;
}

  .img-fluid-single img {
      max-width: 100%;
      height: auto;
      width: 100%;
      margin-bottom: 1rem;
      vertical-align: middle;
  }

  .single-page-title {
      font-family: "Lato", sans-serif;
      font-size: 48px;
      font-style: normal;
      font-weight: 900;
      line-height: 48px;
  }

  .title-hr {
      height: 5px!important;
      background-color: #00ABDF;
      margin-right: 90%;
      opacity: 100%;
  }

/* Need to ask team if 'a' tags above can be specific  */

  .single-category-text {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #EF413D !important;
    text-decoration: none !important;
  }

  .single-body-text {
    font-family: "PT Serif", serif;
    font-size: 20px;
    line-height: 175%;
  }

  .avatar-radius {
      border-radius: 100%;
      margin-right: .7rem;
  }

  .posted-on {
    font-family: "PT Serif", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #7192A9;
  }

  .posted-by a {
    font-weight: bold;
    color: #5c7789;
    font-style: italic;
    text-decoration: none;
  }

  .image-credit-text {
    font-family: "PT Serif", serif;
    font-size: 12px;
    text-align: end;
}

/* Single Page Sidebar  */

.main {
    max-width: 1400px;
    padding: 0 50px;
    margin: auto;
}

.widget-title {
    font-family: "Lato", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #00ABDF;
    position: relative;
    display: inline;
    z-index: 10;
    background-color: white;
    padding-right: 1rem;
    text-transform: uppercase;
}

.related_posts_list {
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 0;
}

.single-sidebar-line {
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #FFDE40;
    top: 0;
    bottom: 0;
    margin: auto;
}

.sidebar-thumbnail-size {
    height: 75px;
}

.sidebar-category-text {
    font-size: 12px;
    text-transform: uppercase;
    color: #EF413D !important;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.related-list-item {
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: .05em;
    overflow: hidden;
    color: #394955;
}

.sidebar-list-item {
    list-style-type: none;
}

.sidebar-a {
    text-decoration: none !important;
}

.gallery-item {
    display: flex;
    flex-direction: row;
}

.gallery-item:hover {
    text-decoration: underline;
    color: black;
}

.size-thumbnail {
    height: 75px;
    width: 75px;
    margin-right: 1rem;
}

hr {
    background-color: #FFDE40;
    border: 0;
    height: 3px !important;
    margin-bottom: 1.5em;
    opacity: 100%
}

/* Single Page Category Bottom  */

.topic-container {
    margin: 3rem 0 5rem;
}

.topic-title {
    color: #C6D3DD;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 0.05em;
    margin-right: 0.7em;
}

.topics-bottom {
    border: 1px solid #ffd8d7;
    padding: 0 0.5rem;
    margin: 0 0.5rem 0.8rem;
    color: #EF413D;
    text-decoration: none !important;
    color: #EF413D;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.05em;
    text-align: center;
}

.button-container {
    margin: 4rem auto 7rem;
}

.back-button {
    border: 2px solid #EF413D;
    background-color: transparent;
    padding: 15px 55px;
    margin: auto;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-align: center;
    font-family: "Lato", sans-serif;
    color: #EF413D;
    text-transform: uppercase;
    display: flex;
    width: fit-content;
}